<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         id="WebApp_ID" version="4.0">
    <display-name>wallet_service</display-name>

    <servlet>
        <servlet-name>PlayerController</servlet-name>
        <servlet-class>wallet_service.out.controller.PlayerController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TransactionController</servlet-name>
        <servlet-class>wallet_service.out.controller.TransactionController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>HistoryController</servlet-name>
        <servlet-class>wallet_service.out.controller.HistoryController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PlayerController</servlet-name>
        <url-pattern>/wallet_service/player</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TransactionController</servlet-name>
        <url-pattern>/wallet_service/transaction</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HistoryController</servlet-name>
        <url-pattern>/wallet_service/player/history</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>JwtAuthFilter</filter-name>
        <filter-class>wallet_service.out.filter.JwtAuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>JwtAuthFilter</filter-name>
        <url-pattern>/wallet_service/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
</web-app>

